/* global style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Myriad W01 Regular", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 1rem;
}

body {
  -webkit-text-size-adjust: none;
}

p {
  margin: 25px;
  font-size: 1rem;
  color: #444;
}

h4 {
  margin-left: 15px;
  margin-top: 5px;
}

header {
  position: sticky;
  top: 0px;
  max-height: 10vh;
  /* width: 100%; */
  background: #fff;
  z-index: 999;
}

.main {
  margin: 20px;
  /* float: left; */
  display: inline-block;
}

.content_top {
  /* margin-top: 10vh; */
  margin-left: 25px;
  margin-right: 25px;
  background: #327c9c;
  color: #ffffff;
  padding: 5px;
}

.content {
  float: none;
  display: inline-block;
  width: 100%;
}

.class_2 a {
  color: #c1c4cc;
}

.class_2 a:hover {
  color: #fff;
}

a {
  color: #327d9c;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #003366;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 5px #dbdbdb;
  margin: auto;
  width: 100%;
  z-index: 9999;
  padding-bottom: 3px;
}

table {
  border-collapse: collapse;
  width: auto;
  margin: 25px;
}

th {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 15px;
  padding: 5px;
  vertical-align: top;
}

td,
th:nth-child(2) {
  width: 150px;
  text-align: right;
}

td,
th:nth-child(3) {
  width: 150px;
  text-align: right;
}

td,
th:nth-child(4) {
  width: 150px;
  text-align: right;
}

tbody {
  border-bottom: 1px solid #333;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(8) {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

th:first-child {
  text-align: left;
}

td:first-child {
  text-align: left;
  width: 150px;
}

td {
  color: #444;
  text-align: right;
  padding: 2px;
}

.top_nav_title {
  display: flex;
  color: #003366;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.a_bit_of_space {
  padding: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #ffffff;
}
/* 
.mortality_together {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
} */

.attributions {
  color: #333;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  padding: 25px;
  padding-top: 0px;
  font-size: 0.7rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
  font-size: 14px;
  padding-right: 5px;
}

.menu_line {
  display: none;
}

.menu_line div {
  width: 20px;
  height: 2px;
  background-color: #0066b2;
  margin: 5px;
}

.class_1 {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  text-align: left;
  padding-right: 10px;
}

.class_2 {
  color: #fff;
  font-size: 1em;
  font-weight: lighter;
  margin: 10px;
}

.class_3 {
  color: #fff;
  font-size: 0.9em;
  font-weight: lighter;
  margin: 10px;
}

.class_4 {
  color: #fff;
  font-size: 0.8em;
  margin-right: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* sections */
.parent_flex {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row wrap;
}

.child_1 {
  flex-basis: 300px;
  flex-grow: 1;
  min-height: 300px;
  margin: 5px;
  background-color: #327c9c;
  border-radius: 10px;
  position: relative;
}

.child_2 {
  flex-basis: 300px;
  flex-grow: 1;
  min-height: 300px;
  margin: 5px;
  background-color: #327c9c;
  border-radius: 10px;
  position: relative;
}

.child_3 {
  flex-basis: 300px;
  flex-grow: 1;
  min-height: 300px;
  margin: 5px;
  background-color: #327c9c;
  border-radius: 10px;
  position: relative;
}

.child_4 {
  flex-basis: 300px;
  flex-grow: 1;
  min-height: 300px;
  margin: 5px;
  background-color: #4f6177;
  border-radius: 10px;
  position: relative;
}

.child_5 {
  flex-basis: 300px;
  flex-grow: 1;
  min-height: 300px;
  margin: 5px;
  background-color: #327c9c;
  border-radius: 10px;
  position: relative;
}

.figure_style {
  margin: 25px;
  height: 40vh;
  display: flex;
  justify-content: center;
  /* visibility: hidden; */
  /* height: 0px; */
}

.highlight {
  font-size: 1.6rem;
}

#ltla_restrictions_map {
  height: 50vh;
  width: 600px;
  margin: auto;
  z-index: 1;
}

#ltla_primary_schools_map {
  height: 50vh;
  width: 600px;
  margin: auto;
  z-index: 1;
}
@media screen and (max-width: 1400px) {
  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  td {
    font-size: 0.8rem;
  }

  th {
    font-size: 0.8rem;
  }

  .class_1 {
    font-size: 1.2rem;
    text-align: left;
  }

  .class_2 {
    font-size: 0.8rem;
    text-align: left;
  }

  .class_3 {
    text-align: left;
  }

  .class_4 {
    position: relative;
    text-align: right;
  }

  .child_1 {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    border-radius: 0px;
  }
  .child_2 {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    border-radius: 0px;
  }
  .child_3 {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    border-radius: 0px;
  }
  .child_4 {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    border-radius: 0px;
  }
  .child_5 {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    border-radius: 0px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 8vh;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.25s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .menu_line {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFader {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  #ltla_restrictions_map {
    height: 40vh;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    z-index: 1;
  }

  #ltla_primary_schools_map {
    height: 40vh;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  .figure_style {
    height: 30vh;
    /* border: 5px solid #116600; */
  }
}

.local_tiles {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.local_child {
  flex-basis: 300px;
  position: relative;
  /* top: 5px; */
  flex-grow: 1;
  /* background: #b90b0be0; */
}

.inputHolder {
  margin-left: 25px;
}

.inputHolder_button {
  margin-left: 5px;
}

.inputHolder_button hover {
  background: #003366;
}

.local_case_summary_1 {
  padding: 10px;
  min-width: 150px;
}

.case_latest {
  font-size: 2rem;
  color: #327c9c;
}

.cases_go_down {
  font-size: 2rem;
  color: green;
}

.cases_go_up {
  font-size: 2rem;
  color: #cc0052;
}

.tier {
  font-size: 1.4rem;
  font-weight: bold;
  color: #4f6177;
}

.icons_yo {
  z-index: 100;
  /* visibility: visible; */
  width: 0.8rem;
}
