/* global style */
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

p{
margin: 25px;
}

/* navigation */
nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 10vh; /* this is % height*/
 height: 20px;
 background-color: #ffffff;
 position: fixed;
 width: 100%;
}

.main_content{
padding-top: 30px;
}

.footer {
position:fixed;
bottom:0;
width:100%;
height:40px;   /* Height of the footer */
background-color: #6cf;
}

.footer p{
margin-left: 25px;
margin-top: auto;
font-size: .8em;
color: #000000
}

.top_nav_title{
  color: #003366;
  font-size: 16px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
  background-color: #ffffff;
 }

.nav-links li{
 list-style: none;
}

.nav-links a{
 text-decoration: none;
 color: #003366;
 font-weight: bold;
 font-size: 14px;
 padding-right: 5px;
}

.menu_line {
 display: none;
}

.menu_line div{
 width: 25px;
 height: 3px;
 background-color: #0066b2;
 margin: 5px;
}

/* content */
.content {
float: none;
height: 60vh;
}


/* sections */
.parent_flex{
  margin: 20px;
  height: 30vh;
  /* border: 5px solid #cc9900; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.child_1{
  width: 300px;
  height: 200px;
  background-color: #008080;
}

.child_2{
  width: 300px;
  height: 200px;
  background-color: #006666;
}

.child_3{
  width: 300px;
  height: 200px;
  background-color: #ff9c1d;
}

.child_4{
  width: 300px;
  height: 200px;
  background-color: #f6639b;
}

.child_5{
  width: 300px;
  height: 200px;
  background-color: #db525a;
}


/* media query */
@media screen and (max-width: 1024px){
.nav-links{
  width: 50%;
}
}


@media screen and (max-width: 768px){

body{
overflow-x: hidden;
}

.child_1{
width: 100%;
}
.child_2{
width: 100%;
}
.child_3{
width: 100%;
}
.child_4{
width: 100%;
}
.child_5{
width: 100%;
}

.class_1{
color: #ffffff;
font-size: 2em;
font-weight: bold;
}

.nav-links{
 position: absolute;
 right: 0px;
 height: 60vh;
 top: 8vh;
 display: flex;
 width: 50%;
 flex-direction: column;
 align-items: center;
 transform: translateX(100%);
 transition: transform 0.5s ease-in;
}

.nav-links li{
opacity: 0;
}

.menu_line{
display: block;
cursor: pointer;
}

.nav-active{
transform: translateX(0%);
}

@keyframes navLinkFader {

from{
opacity: 0;
transform: translateX(50px);
}
to{
opacity: 1;
transform: translateX(0px);
}

}

}
